* {
    padding: 5px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    
}

body {
    
}

header {
    /* border-top: 1px solid rgb(126, 126, 126); */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #000000;
}

header h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: #000000;
}

nav {
    border-bottom: 1px solid rgb(126, 126, 126);
}

nav:hover {
    border-bottom: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(158, 158, 158);
    transition: 0.2s;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    position: relative;
    border-radius: 10px;
}

nav a:hover {
    /* border-bottom: 3px solid rgb(0, 0, 0); */
    /* border-radius: 10px; */
    background-color: rgba(131, 131, 131, 0.066);
    text-shadow: 5px 5px 5px rgb(158, 158, 158);
    transition: 0.1s;
}

.main {
    margin-top: 20px;
    padding: 5px;
    border-top: 1px solid rgb(126, 126, 126);
    border-bottom: 1px solid rgb(126, 126, 126);
    color: rgb(0, 0, 0);
    display: flex;
}

.main h1 {
    text-align: center;
    margin-bottom: 20px;
}

.inside {
    width: 30%;
    height: auto;
    margin-top: 20px;
    padding: 5px;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

.inside:hover {
    width: 35%;
    height: 80%;
    /* border: 1px solid #fff; */
    box-shadow: 5px 5px 5px rgb(158, 158, 158);
    text-shadow: 5px 5px 5px rgb(158, 158, 158);
    transition: 0.3s;
}

.inside a {
    color:rgb(0, 0, 0);
    text-decoration: none;
}

.inside .price {
    height: auto;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 10px;
}

.inside .price:hover {
    /* border: 1px solid #fff; */
    box-shadow: 5px 5px 5px rgb(158, 158, 158);
    text-shadow: 5px 5px 5px rgb(158, 158, 158);
    transition: 0.3s;
}

.inside h2 {
    text-align: center;
    background-color: #000000;
    color:rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.313);
    border-radius: 10px;
}

.inside p {
    font-size: 18px;
    font-weight: bold;
}

.inside h2:hover {
    box-shadow: 5px 5px 5px rgb(158, 158, 158);
    text-shadow: 5px 5px 5px rgb(158, 158, 158);
    transition: 0.3s;
}

.inside:active {
    width: 40px;
    height: 5px;
}

.inside form {
    width: 40%;
    font-size: 18px;
    padding: 10px;
    margin: 30px;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 10px;
}

.inside form:hover {
    box-shadow: 5px 5px 5px rgb(158, 158, 158);
    transition: 0.3s;
    border: none;
}

.inside form input {
    width: auto;
    height: 20px;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #000;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: 0.3s;
}

.inside form input:hover {
    outline: none;
    background-color: rgba(131, 131, 131, 0.066);
    text-shadow: 5px 5px 5px rgb(158, 158, 158);
    transition: 0.1s;
}


.inside form input:focus {
    outline: none;
}

.inside form textarea {
    width: auto;
    height: 20px;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #000;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: 0.3s;
}

.inside form textarea:hover {
    outline: none;
    background-color: rgba(131, 131, 131, 0.066);
    text-shadow: 5px 5px 5px rgb(158, 158, 158);
    transition: 0.1s;
}

.inside form input[type="file"] {
    border: none;
}

.inside form input[type="submit"] {
    border: none;
}

.inside form input[type="submit"]:hover {
    background-color: #000;
    color: #fff;
    transition: 0.3s;}

/*Animacions enllaços nav*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #000000;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }